<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello Hi <br>
    <label for="name">Select User: </label><br>
    <form method="post">
        <input type="submit" value="Tanvi"/>
        <input type="hidden" name="Tanvi"/>
    </form>
    <form method="post">
        <input type="submit" value="Rishabh">
        <input type="hidden" name="Rishabh"/>
    </form>
    <form method="post">
        <input type="submit" value="Chelsi">
        <input type="hidden" name="Chelsi"/>
    </form>
</body>
</html>