<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome, {{ usr }}!<br>
    Draw rectangles around all the objects pls<br>
    You have {{ imgs_left }} images left to draw bounding boxes for<br>

    <br>
    <form method="post">
        <input type="submit" value="Close file">
        <input type="hidden" name="close">
    </form>

    <img src="{{ url_for('static', filename='data/0001_images.jpg') }}">
</body>
</html>